{% extends 'main.html' %}

{% load static %}

{% block content %}

<!-- Inner Page Banner Area Start Here -->
<div class="inner-page-banner-area" style="background-image: url('{% static 'img/banner/5.jpg' %}');">
    <div class="container">
        <div class="pagination-area">
            <h1>Thư Viện Video</h1>
            <ul>
                <li><a href="{% url 'home' %}">Trang Chủ</a> -</li>
                <li>Thư Viện Video</li>
            </ul>
        </div>
    </div>
</div>
<!-- Inner Page Banner Area End Here -->
<!-- Gallery Area 1 Start Here -->
<div class="gallery-area1">
    <div class="container">
        <div class="row gallery-wrapper">

            {% for video in page_obj %}

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <iframe 
                width="530" 
                height="300" 
                style="margin-top:50px"
                src="{{ video.embed_url }}" 
                frameborder="0" 
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen></iframe>
            </div>

            {% endfor %}

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="pagination-center">

                    {% for page in page_obj.paginator.page_range %}
                    <li {% if page_obj.number == page %}class="active"{% endif %}><a href="?page={{ page }}">{{ page }}</a></li>
                    {% endfor %}

                </ul>
            </div>

        </div>
    </div>
</div>
<!-- Gallery Area 1 End Here -->

{% endblock content %}