{% load static %}

<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo/gel_logo_1.png' %}">
<!-- Normalize CSS -->
<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
<!-- Main CSS -->
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<!-- Animate CSS -->
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
<!-- Font-awesome CSS-->
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<!-- Owl Caousel CSS -->
<link rel="stylesheet" href="{% static 'vendor/OwlCarousel/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/OwlCarousel/owl.theme.default.min.css' %}">
<!-- Main Menu CSS -->
<link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
<!-- nivo slider CSS -->
<link rel="stylesheet" href="{% static 'vendor/slider/css/nivo-slider.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'vendor/slider/css/preview.css' %}" type="text/css" media="screen" />
<!-- Datetime Picker Style CSS -->
<link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.css' %}">
<!-- Magic popup CSS -->
<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
<!-- Switch Style CSS -->
<link rel="stylesheet" href="{% static 'css/hover-min.cs' %}s">
<!-- ReImageGrid CSS -->
<link rel="stylesheet" href="{% static 'css/reImageGrid.css' %}">
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'style.css' %}">
<!-- Modernizr Js -->
<script src="{% static 'js/modernizr-2.8.3.min.js' %}"></script>
<!-- Mail Chimp-->
{% comment %} <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css"> {% endcomment %}
<!-- Font Awesome New -->
<script src="https://kit.fontawesome.com/6c3b6f5228.js" crossorigin="anonymous"></script>